PORT = 5001
HOST = localhost

DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_USER = root
DATABASE_PASSWORD = root
DATABASE = quizloom

JWT_ACCESS_TOKEN_SECRET=accessTokenSecret
JWT_REFRESH_TOKEN_SECRET=refreshTokenSecret
JWT_FORGOT_PASSWORD_TOKEN_SECRET=forgotPasswordTokenSecret